
/* header section */
@font-face {
  font-family: "Kalam";
  src: url("resources/fonts/Kalam/Kalam-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("resources/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("resources/fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: "Playfair";
  src: url("resources/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

html {
  background-color: #FFFFFA;
  background-image: url("../images/groomed-snow.jpg");
}
.header {
    display: flex;
    justify-content: space-between;
    height: 12.5rem;
    background-color: #0F084B;
    color: #FFFFFA;
    font-family: "Poppins";
    letter-spacing: .15rem;
    border-bottom: 2px solid #7F95D1;
    width: 98%;
    margin: auto;
    border-radius: 15px;
    border: 3px solid #0F084B;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .float-right {
    align-content: center;
    font-size: 2.25rem;
  }
  
  .float-right a {
    padding: 1.6rem;
    color: #FFFFFA;
    
  }
  
  .name {
    align-content: center;
    height: 100%;
    margin-left: 1rem;
    font-size: 2.25rem;
  }  

  /* end of header section */


  /* hero section w800 h600*/

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2rem auto;
    width: 55%; 
    height: 33.75rem;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    border: 3px solid #0F084B;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;




  }

  
  .hero-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: black;
    opacity: .60;
    font-family: "Poppins";
    letter-spacing: .2rem;
    line-height: 1.5;
    padding: 2rem;
    border: 1px solid white;
    width: 45%;
    height: 150px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .hero-text-container h2 {
    color:#FFFFFA;
    font-size: 3.5rem;
    font-weight: 900;
  }




  /* end of hero section */


  /*activities section */

  .activities-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Playfair";
    font-weight: 600;
    letter-spacing: .125rem;
    line-height: 1.5;
    
    text-align: justify;
    width: 75%;
    border: 3px solid #0F084B;
    margin: auto;
    background-color: #A6B5C9;
    color: #FFFFFA;
     
    padding: 2rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .grid-container, .grid-container-2, .grid-container-3 {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    grid-template-columns: repeat(14, 1fr);
    gap: 0px;
    height: 31.25rem;
    width: 31.25rem;
    aspect-ratio: 1/1;
    
   
  }
  
  .landscape-one {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #a75bcd;
    grid-area: 2 / 5 / 6 / 11;
  }
  
  .portrait-one {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #8f75d5;
    grid-area: 8 / 2 / 14 / 6;
  }
  
  .landscape-two {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #5cfddb;
    grid-area: 9 / 8 / 13 / 14;
  }

  img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .activities-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .activities-section {
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
  }
  /*End of Activities Section */


  /* Testimonials Section */

  .testimonials {
    border: 3px solid #0F084B;
    background-color: #A6B5C9;
    color: #FFFFFA;
    font-size: 2.5rem;
    font-family: "Kalam";
    line-height: 1.25;
    letter-spacing: 1.25;
    font-style: italic;
    margin: 2rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .testimonials h2 {
    margin: 2rem;
  }

  /* End of Testimonials Section */

  .membership {
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 40rem;
    height: 22rem;
    margin: 2rem auto 2rem auto;
    background-image: url("../images/membership-background.jpg");
    background-position: center;
    background-size: auto;
    border: 3px solid #0F084B;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .membership-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-bottom: 1rem;
    height: 30%;
    width: 50%;
    background-color: black;
    color: white;
    opacity: .70;
    font-family: "Playfair";
    font-weight: 500;
    border: 3px solid #0F084B;
    font-size: 1.5rem;
    border-radius: 10px;
    line-height: 1.25;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  button {
    font-size: 1.rem;
    padding: .5rem;
    border-radius: 5px;
    
  }

  @media only screen and (max-width: 1200px) { 
    html{
      font-size: 12px;
    }
    .hero-text-container h2 {
            font-size: 2.5rem;
      
    }
    .name {
      display: none;
    }
}

@media only screen and (max-width: 1200px) { 
  html{
    font-size: 12px;
  }
  .hero-text-container h2 {
          font-size: 2.5rem;
    
  }
  .name {
    display: none;
  }
}

@media only screen and (max-width: 600px) { 
  html{
    font-size: 6px;
  }
  .hero-text-container h2 {
     font-size: 1.25rem;
    
  }
  .name {
    display: none;
  }

  
  .float-right, .header {
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 2.0;
    text-align: center; 
    align-items: center;
    justify-content: center;
   }
   .grid-container, .grid-container-2, .grid-container-3 {
    height: 15rem;
    width: 15rem;
   }
   .Activities-Text-Container {
    font-size: 1rem;
   }

   .testimonials {
    font-size: 1rem;
   }

   .membership-text-container  {
    font-size: 1rem;
    }

}